@page { size: auto;  margin: 0mm; }

  .help {
    position: fixed;
    bottom: 0px;
    right: 6px;
    color: blue;
    font-size: 16px;
  }

  .dont-print-me input:focus {
    outline: none;
  }

  .dateOutter {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 216px;
  }
  .dateInput {
    width: 24px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  .minus {
    display: inline-block;
    width: 8px;
    height: 0.1em;
    background: black;
  }

  #year {
    width: 76px;
  }

  html,body {
    height: 100%;
  }
  .form-wrapper {
    margin: 0 auto;
    float: none;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top:10px;
    padding-bottom: 10px;
  }
  .print-me {
    display: none;
  }

  body {
    background: linear-gradient(to bottom right, #fff3e9, #F48024);
    height: 100%;
  }

  .form-wrapper input {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    background: white !important;
  }

  .form-wrapper input:focus {
    color: black;
  }

  .form-wrapper a {
    background: #02356b;
    color: white !important;
  }

  .form-wrapper a:hover {
    background: #0054ad;
    color: white;
  }

  #word-me-div {
    background: white;
    border-radius: 3px;
    padding: 8px;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    min-height: 32px;
  }

  /* Auto complete */
  * { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
}

.autocomplete input[type=text] {
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 3px #ccc;
}
.autocomplete-items div {
  padding-left: 8px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

  @media print {
    @page {size: portrait; margin:0mm;}
    .print-me p{
      position: fixed;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      transform-origin: top left;
      transform: translate(0px,0px) rotate(-90deg);
    }

    #date-l {
      top: 209px;
      left: 314px;
      letter-spacing: 15px;
      font-size: 15px;
      font-weight: bold;
    }

    #name-l {
      top: 830px;
      left: 370px;
    }
    #amount-l {
      top: 190px;
      left: 435px;
      font-size: 22px;
      
    }
    #word-me-l {
      top: 770px;
      left: 405px;
    }
  }

  .dont-print-me .form-group label {
    cursor: pointer;
  }

  #passwordBox .close-modal {
    display: none;
  }

  #passwordBox .passwordWrapper {
    display: flex;
    justify-content: space-around;
    width: 400px;
  }

  #passwordBox .productId {
    text-align: center;
  }

  #passwordBox .form-control {
  height: 30px;
    width: 207px;
}
